* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;    
}

.container {
    width: 100%;
    display: flex;
}

.container > .row {
    flex: 1;
}