* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: ghostwhite;
}


.fullDim {
    height: 100%;
    width: 100%;
}

.centered-text {
    text-align: center;
}

.actionItem:hover {
    cursor: pointer;
}