.navigation {
    background-color: darkslategrey;
    height: 100%;

    /*
    border-right: 4px solid #303030;
    */
}

.navigation .navigationItem {
    padding: 20px;
    cursor: pointer;
    border-right: 4px solid #303030;
}

.navigation .navigationItem > span.navigationTitle {
    color: mistyrose;
    font-size: 20px;
    text-transform: lowercase;
}

.navigationItem.active {
    background-color: cadetblue;
    border-right: 4px solid crimson;
    transition: background-color 1s;
}